                    importing the libraries

In [71]:
import numpy as np
import pandas as pd

                    loading data you can find data on kaggle link is ->https://www.kaggle.com/datasets/tmdb/tmdb-movie-metadata?select=tmdb_5000_movies.csv

In [72]:
mv = pd.read_csv('./tmdb_5000_movies.csv')
cr = pd.read_csv('./tmdb_5000_credits.csv')

In [73]:
mv.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

                        feel the data

In [74]:
cr.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

                from here Preprocessing is start
                merging both dataframe in one dataframe

In [75]:
movies = mv.merge(cr,on='title')

                i am making movie recomender system so 
                i will make tags for this my relavent columns are here
                just feel the data then analyze which column is relating to.
                in my case columns are # so our working column will be
                genres,title,id,keywords,cast,crew

In [76]:

movies = movies[['id','title','genres','overview','keywords','cast','crew']]

In [77]:
movies.head(1)

,id,title,genres,overview,keywords,cast,crew
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","In the 22nd century, a paraplegic Marine is di...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

                    now handling the missing date
                    if any missing data we can get rid of that
                    # movies.dropna(inplace=True)

In [78]:
movies.isnull().sum()

id          0
title       0
genres      0
overview    3
keywords    0
cast        0
crew        0
dtype: int64

            same for duplicate data

In [80]:
movies.duplicated().sum()
# so there are also not any duplicate value

0

            i am suing ast library for convert string to list 
            so it is string of list of dict so first we will convert it in list for this we use 'ast.literal_eval' which convert string in list

In [81]:
import ast
def converts(s):
    # print(s)
    li = []
    for i in ast.literal_eval(s):
        li.append(i['name'])
        # print(i)
    return li

In [82]:
movies['genres'] = movies['genres'].apply(converts)

In [83]:
movies.head(4)

,id,title,genres,overview,keywords,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","In the 22nd century, a paraplegic Marine is di...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","Captain Barbossa, long believed to be dead, ha...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[Action, Adventure, Crime]",A cryptic message from Bond’s past sends him o...,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]",Following the death of District Attorney Harve...,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."

In [84]:
movies['keywords'] = movies['keywords'].apply(converts)

In [85]:
movies.head(2)

,id,title,genres,overview,keywords,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","Captain Barbossa, long believed to be dead, ha...","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

                            iam keeping only first three acter in cast

In [86]:
import ast
def converts_cast(s): 
    li = []
    count = 0
    for i in ast.literal_eval(s):
        li.append(i['name'])
        # print(i)
        if(count >=3 ):
            break
        count += 1

    return li

In [87]:
movies['cast'] = movies['cast'].apply(converts_cast)

In [88]:
movies.head(3)

,id,title,genres,overview,keywords,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","Captain Barbossa, long believed to be dead, ha...","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[Action, Adventure, Crime]",A cryptic message from Bond’s past sends him o...,"[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."

                        fetch the director from crew column

In [89]:
import ast
def fetch_director(s): # iam keeping first three acter in cast
    li = []
    count = 0
    for i in ast.literal_eval(s):
        if i['job'] == 'Director':
            li.append(i['name'])
            break
    return li

In [90]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [91]:
movies['overview'] = movies['overview'].apply(lambda x:str(x).split())

                            for better result remove white spaces in one name or word

In [143]:
movies['genres'] = movies['genres'].apply(lambda x : [i.replace(" ","") for i in x])
movies['overview'] = movies['overview'].apply(lambda x : [i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x : [i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x : [i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x : [i.replace(" ","") for i in x])

                now combining all the word in one column or making taggs

In [93]:
movies['tag']= movies['genres']+movies['overview']+movies['keywords']+movies['cast']+movies['crew'] 
movies.head(1)

,id,title,genres,overview,keywords,cast,crew,tag
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","[In, the, 22nd, century,, a, paraplegic, Marin...","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron],"[Action, Adventure, Fantasy, ScienceFiction, I..."

          NOW DATA IS PREPROCESSED

In [94]:
# now making new df to start analysis
new_movie = movies[['id','title','tag']]
new_movie.tag

0       [Action, Adventure, Fantasy, ScienceFiction, I...
1       [Adventure, Fantasy, Action, Captain, Barbossa...
2       [Action, Adventure, Crime, A, cryptic, message...
3       [Action, Crime, Drama, Thriller, Following, th...
4       [Action, Adventure, ScienceFiction, John, Cart...
                              ...
4804    [Action, Crime, Thriller, El, Mariachi, just, ...
4805    [Comedy, Romance, A, newlywed, couple's, honey...
4806    [Comedy, Drama, Romance, TVMovie, "Signed,, Se...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Documentary, Ever, since, the, second, grade,...
Name: tag, Length: 4809, dtype: object

                        
                         converting tag list into string

In [95]:
new_movie['tag'] = new_movie['tag'].apply(lambda x : " ".join(x))

/tmp/ipykernel_7358/1836385140.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movie['tag'] = new_movie['tag'].apply(lambda x : " ".join(x))


                             now lower the text

In [96]:
new_movie['tag'] = new_movie['tag'].apply(lambda x : x.lower())

/tmp/ipykernel_7358/1494832726.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movie['tag'] = new_movie['tag'].apply(lambda x : x.lower())

In [97]:
new_movie

,id,title,tag
0,19995,Avatar,action adventure fantasy sciencefiction in the...
1,285,Pirates of the Caribbean: At World's End,"adventure fantasy action captain barbossa, lon..."
2,206647,Spectre,action adventure crime a cryptic message from ...
3,49026,The Dark Knight Rises,action crime drama thriller following the deat...
4,49529,John Carter,action adventure sciencefiction john carter is...
...,...,...,...
4804,9367,El Mariachi,action crime thriller el mariachi just wants t...
4805,72766,Newlyweds,comedy romance a newlywed couple's honeymoon i...
4806,231617,"Signed, Sealed, Delivered","comedy drama romance tvmovie ""signed, sealed, ..."
4807,126186,Shanghai Calling,when ambitious new york attorney sam is sent t...
4808,25975,My Date with Drew,documentary ever since the second grade when h...


                            here i am applying nltk for steming the words

In [98]:

import nltk

In [144]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [100]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [101]:
new_movie['tag'] = new_movie['tag'].apply(stem)

/tmp/ipykernel_7358/3794520366.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movie['tag'] = new_movie['tag'].apply(stem)

            now applying algorithm i am going to vectorized the tags using sklearn library

In [102]:
from sklearn.feature_extraction.text import CountVectorizer


                            making object of CountVector for vectorization our tags

In [103]:
cv = CountVectorizer(max_features=5000,stop_words='english')

In [108]:
movie_vectors = cv.fit_transform(new_movie['tag'],).toarray()

In [141]:
# cv.get_feature_names()


                        
                         now find the distance so i am going for cosine distance or angle distance

In [112]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(movie_vectors)

In [114]:
similarity.shape

(4809, 4809)


                    finally i have similartiy of all movies in similarity list now i
                    am returning five most similar movie title

In [145]:
def recommend(movie_name):
    movie_index = new_movie[new_movie['title'] == movie_name].index[0]
    distance = similarity[movie_index]
    movies_list = sorted(list(enumerate(distance)),reverse=True,key=lambda x:x[1])[1:6]
    title_of_movie = []
    # print(movies_list)
    for i in movies_list:
        # print(i[0])
        title_of_movie.append(new_movie.iloc[i[0]].title)
    return title_of_movie

In [146]:
recommend('Avatar')

['Aliens vs Predator: Requiem',
 'Aliens',
 'Independence Day',
 'Falcon Rising',
 'Titan A.E.']

In [147]:
recommend('Aliens')

['Alien',
 'Alien³',
 'Meet Dave',
 'Star Trek: Insurrection',
 'Escape from Planet Earth']